.header {
  padding: 20px 0;
height: 50vh;
  background-color: #212529;
}
.nav-list{
  text-align: center;
  font-size: 0;
  font-family: sans-serif;
}
.nav-list > li:nth-child(n + 2) {
  margin-left: 20px;
}
.nav-list a {
  padding: 20px 20px;
}
.nav-list li {
  position: relative;
}
.list-item{
  display: inline-block;
  font-size: 16px;
  list-style-type: none; 
  color: white;
  position: relative;
}
.link{
  color: inherit;
  text-decoration: none;
  background-color: #e64a19;
  display: inline-block;
  width: 100%;
  text-align: center;
}
.sub-nav-list{
  left: 0;
  right: 0;
  position: absolute;
  display: none;
  padding: 0;
}
.sub-list-item{
  display: block;
}
.sub-nav-list a{
  padding: 15px 10px;

}
.nav-list li:hover > .dropmenu-property,
.nav-list li:focus-within > .dropmenu-property {
  visibility: visible;
}
.dropmenu-property{
  position: relative;
  padding: 0;
  left: 156px;
  top: -48px;
  visibility: hidden;
}
.list-item:hover > .sub-nav-list{
  display: block;
  }
  .link:hover{
    background-color: #8a2d0f;
  }